body{
    margin: 0%;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
}
.logo{
    display: inline;
}
header{
    width: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
}
nav > ul{
    list-style: none;
}
nav{
    display: inline-block;
}
.table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
